// Development Assets
//
// Files and directories used only for development. Archive and install builds will
// exclude this content.

DEVELOPMENT_ASSET_PATHS = "Project/GithubSearch/Preview Content"



// Enable Previews
//
// If enabled, the product will be built with options appropriate for supporting
// previews.

ENABLE_PREVIEWS = YES
